* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f7f7f8;
  color: #1e1e1e;
}

.header-banner {
  width: 100%;
  height: 459px;
  background-image: url("/assets/images/Header Background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.header-content h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 2.5rem;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.header-content p {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}
